[submodule "glm"]
	path = lib/glm
	url = git@github.com:g-truc/glm.git
	branch = master
[submodule "stb"]
	path = lib/stb
	url = git@github.com:nothings/stb.git
	branch = master
[submodule "nlohmann_json"]
	path = lib/nlohmann_json
	url = git@github.com:nlohmann/json.git
	branch = master
